body {
    background-color: #f8f9fa;
}

.card {
    border-radius: 10px;
}

.card-header {
    border-radius: 10px 10px 0 0 !important;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.table th {
    width: 30%;
}
